<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            {% if post.youtube_id %}
              <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px;">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ post.youtube_id }}" allowfullscreen></iframe>
              </div>
            {% endif %}
            {% if post.accordions %}
              <div class="panel-group" id="accordion-{{ post.modal-id }}" style="margin-bottom: 20px; text-align: left;">
                
                {% for item in post.accordions %}
                  <div class="panel panel-default">
                    <div class="panel-heading" id="heading-{{ post.modal-id }}-{{ forloop.index }}">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-{{ post.modal-id }}" href="#collapse-{{ post.modal-id }}-{{ forloop.index }}">
                          {{ item.title }}
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-{{ post.modal-id }}-{{ forloop.index }}" class="panel-collapse collapse">
                      <div class="panel-body">
                          {{ item.content }}
                          {% if item.image %}
                            <img src="img/portfolio/{{ item.image }}" class="img-responsive" style="margin-bottom: 15px; border-radius: 4px" alt="{{ item.title }} visual">
                          {% endif %}

                          {% if item.youtube_id %}
                            <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px;">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ item.youtube_id }}" allowfullscreen></iframe>
                            </div>
                          {% endif %}

                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                
              </div>
            {% endif %}

            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Skills:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>

            {% if post.project_url %}
              <a href="{{ post.project_url }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
                <i class="fa fa-external-link"></i> 
                {% if post.project_button_text %}
                  {{ post.project_button_text }}
                {% else %}
                  View Project
                {% endif %}
              </a>
            {% endif %}

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
